/.vs
/BankAppNoMoney/obj
/BankAppNoMoney
/BankAppNoMoney/obj/Debug
/BankAppNoMoney
/BankAppNoMoney/obj
/BankAppNoMoney
/BankAppNoMoney/obj
BankAppNoMoney/obj/project.nuget.cache
BankAppNoMoney/obj/project.assets.json
*.editorconfig
*.dll
*.exe
*.pdb
*.json
*.props
*.props
*.exe
*.cs
*.cache
*.cache
*.cache
*.txt
*.dll
*.editorconfig
*.cache
*.pdb
*.dll
*.dll
*.json
*.cache
